
<form id="fileForm" {{action "importFile" on="submit"}}>
  Select a file to import:
  <br>
  {{input type="file" name="fileToUpload" value=fileToUpload}}
  <br>
  <button type="submit">Import</button>
</form>
<br>

Status: {{importStatus}}
<br>
