
<form id="fileForm">
  <label>{{startingMessage}}</label>
  {{input type="file" name="fileToUpload" value=fileToUpload}}
  <button type="submit" disabled={{shouldDisable}}>Import</button>
</form>

<h3>Status:</h3>
  {{importStatus}}
